<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/app.css" rel="stylesheet">
<title>Air Wander</title>
</head>

<body ng-app="AirWander">
	<div class="container" ng-controller='AirWanderController'>
		<div>Air Wander 0.01</div>
		<br>
		<select ng-options="trip as trip.value for trip in trips"
   			ng-model="selectedItem" ng-change="update(selectedItem)">
   		</select>
   		<br><br>
   		<input-box elements="selectedItem.inputs"></input-box>
	</div>

<script src="vendors/angular.js"></script>
<script src="app.js"></script>
<script src="input-box/app.input-box.js"></script>
<script src="input-box-element/app.input-box-element.js"></script>
</body>
</html>
